* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5BF00;
}

.header {
  position: relative;
  height: 100vh;
} 

.image-container {
display: flex; 
justify-content: space-around;
align-items: center;
}
.top-image,
.bottom-image,
.play-image,
.top-bild
{
position: absolute;
max-width: 20rem;
height: auto;
left: 50%;
transform: translateX(-50%);
}

.top-image {
top: 0;

}

.bottom-image {
top: 15rem;
}

.left-image,
.center-image,
.right-image {
  width: 8rem;
  height: auto;
  margin-top: 20rem;
}

.btn-play-image {
top: 34rem;
position: absolute;
width: 13rem;
height: auto;
left: 50%;
transform: translateX(-50%);
cursor: pointer;
}

.top-bild {
  top:0;
}


label {
margin: 0.5rem;
font-weight: bold;
}

input {
border: 2px solid #252424;
border-radius: 0.35rem;
height: 1.5rem;
max-width: 14rem;
font-weight: bold;
text-align: center;
font-size: 1.4rem;
outline: none;
padding: 0.5em;
  margin-top: 0.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(7rem + 3rem);
  left: 50%;
  transform: translateX(-50%);
}

#searchButton {
  display: none;
  margin-top: 6em;
  justify-content: center;
  align-items: center;
  left: 50%;

}

.hidden {
  display: none;
}


.boxar {
    display: none; 
    margin-top: 7em;
    justify-items: center;
    align-items: center;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  justify-items: center;
    align-items: center;
}

.card-image{
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 2em; 
  font-size: 5em;
}

.card-title{
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 2em; 
  font-size: 1,3em;
}

.card-subtitle {
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 2em; 
  font-size: 1,3em;
}

/* display none, visibilety class list remove, add*/
